body {
  background-color: #ff4d6d;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: Nunito, sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 3.5rem;
}

#headertext span {
  color: lime;
}

/* Navbar */
nav {
  background-color: rgb(255, 131, 151);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
}

nav li {
  height: 3em;
}

nav a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 1em;
  font-size: 1.2rem;
}

nav a:hover {
  background-color: rgb(255, 141, 160);
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 92, 92, 0.205);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.showMenu {
  display: none;
}



@media (max-width: 1575px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1400px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .showMenu {
    display: block;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 100%;
  }
}